
# Environment Variables
env/
!env/env.example

# Secrets
secrets/
!secrets/instructions.md

# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw

# Testing
.pytest_cache/